#summary a {
    display: block;
}

#recommendationsList {
    list-style: none;
}

#recommendationsList .linkDescription {
    margin-top: 1.5em;
}

#author {
    float: right;
    width: 13%;
    margin: 1em;
    border: solid 3px rgba(127, 136, 143,0.4)
}
