#contactTable {
    width: 100%;
    border: none;
    margin: 2em;
}

#contactTable tr {
    border: none;
    background: inherit;
}

#contactTable td {
    border: none;
    background: inherit;
}

#clickArea{
    font-weight: bolder;
    color: orangered;
    cursor: pointer;
}

.contactFormErrorMessage{
    background: #ffdd97;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    margin: 1em;
    padding: 1em;
    display: none;
}
