
#functionnalities p{
    margin: 1em;
}

#functionnalities h3{
    font-size: 1.1em;
    margin-top: 2em;
}





#ngui .thumbsBox{
    text-align: center;
    margin-bottom: 2em;
}

#ngui .thumbsBox img{
    width: 45%;
    display: inline-block;
}
#ngui p{
    margin: 1em;
}




#pstatus p{
    margin: 1em;
}





