
#tutorialLink {
    text-align: center;
}

#downloadSection {
    text-align: center;
    margin: 2em;
}

#downloadNumber {
    margin-top: 2em;
}

#downloadButton {
    width: 300px;
    text-align: center;
}

.functionnality {
    text-align: center;
    margin: 2em;

}

.functionnality .description {
    text-align: left;
    margin: 2em;
}

.functionnality img {
    border: solid 4px rgb(200, 200, 200);
    width: 80%;
}

.copyright{
    font-size: 0.8em;
}