<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="main-decorator">
<head>

    <title>Découvrir le projet</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/aboutProject.css"/>

</head>
<body>

<h1 layout:fragment="header">Découvrir le projet</h1>

<div layout:fragment="content">

    <section id="summary">

        <a href="#history">1. Historique et développement d'Abc-Map</a>
        <a href="#developer">2. Concepteur / développeur</a>
        <a href="#recommendations">3. Ils vous recommandent Abc-Map</a>


        <div th:replace="fragments/donationBlock :: donationBlock"></div>

    </section>

    <section>

        <a name="history"/>
        <h2>Historique et développement d'Abc-Map</h2>
        <p>
            Abc-Map est un logiciel libre développé bénévolement. Abc-Map est né du constat qu'il
            existe peu de logiciels de cartographie accessibles au grand public.
            Le développement du logiciel a débuté fin 2014, pour une première période de 5 mois.
            Développé dans un objectif de formation à la programmation Java / orientée objet,
            le code distribué dans la version 1.3 est fonctionnel mais n'est pas optimal.
        </p>

        <p>
            Cependant une nouvelle version est en cours de développement. Plus puissante, avec des
            fonctionnalités plus proches des attentes des utilisateurs, cette version
            utilise des méthodologies et des technologies modernes dans le but d'offrir une plus grande
            fiabilité aux utilisateurs, et d'être plus facilement maintenable et extensible. Pour en
            savoir plus rendez-vous sur la <a th:href="${mappings.get('NEW_VERSION')}">page dédiée à la nouvelle version</a>.
        </p>


        <a name="developer"/>
        <h2>Concepteur / Développeur</h2>

        <a href="https://toutes-les-bulles-eclatent.fr" target="_blank">
            <img src="/images/author.jpg" id="author" alt="Rémi Pace"/>
        </a>
        <h4>Rémi Pace</h4>

        <ul style="list-style: none; margin-bottom: 4em">
            <li>Ingénieur en développement logiciel</li>
            <li>Programmation Java, technologies web, adminstration de systèmes GNU/Linux</li>
            <li>Passionné d'espace et de photographie</li>
            <li>Interview sur le le Framablog:
                <a href="https://framablog.org/2015/03/06/abc-map-realisez-des-cartes-et-des-traces-facilement/"
                   target="_blank">http://framablog.org/2015/03/06/...</a>
            </li>
            <li><a href="https://remi-pace.fr" target="_blank">https://remi-pace.fr &nbsp;
                <span class=" fa fa-external-link"></span></a></li>
        </ul>

        <a name="recommendations"/>
        <h2>Ils vous recommandent Abc-Map:</h2>
        <p>
        <ul id="recommendationsList">
            <li th:each="rec : ${recommendations}">
                <div th:utext="${rec[0]}" class="linkDescription"></div>
                <a th:text="${rec[1]}" th:href="${rec[2]}" target="_blank"></a>
            </li>
        </ul>
        </p>

    </section>

</div>

</body>
</html>
