<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="main-decorator">
<head>

    <title>Contact</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/contact.css"
          layout:fragment="htmlHeaders"/>

</head>
<body>

<h1 layout:fragment="header">Contact</h1>

<div layout:fragment="content">

    <section>N'hésitez pas à prendre contact avec le développeur pour toute question, pour suggérer
        une fonctionnalité ou pour signaler une erreur. Ecrivez un mail à l'adresse suivante ou
        utilisez ce formulaire de contact:

        <form method="post" th:action="${mappings.get('CONTACT')}">
        <table id="contactTable">
            <tr>
                <td style="width: 30%">Adresse de contact:</td>
                <td><a href="mailto:fr.abcmap@gmail.com">fr.abcmap@gmail.com</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Objet:</td>
                <td><select name="object">
                    <option value="ask">Demander une fonctionnalité</option>
                    <option value="help">Aide sur l'utilisation</option>
                    <option value="error">Signaler une erreur</option>
                </select></td>
            </tr>
            <tr>
                <td>Votre adresse mail:</td>
                <td><input type="text" name="email"/></td>
            </tr>
            <tr>
                <td>Votre message:</td>
                <td><textarea name="message"></textarea></td>
            </tr>
            <tr><td colspan="2">Je ne suis pas une machine</td></tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Envoyer"/></td>
            </tr>
        </table>
        </form>
    </section>

</div>

</body>
</html>
