<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="main-decorator">
<head>

    <title>Contact</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/contact.css"/>
    <script type="text/javascript" src="/assets/js/contactform.js"></script>

</head>
<body>

<h1 layout:fragment="header">Contact</h1>

<div layout:fragment="content">

    <section th:if="${messageStatus} == 'saved'">

        <h3>Merci, vous recevrez une réponse dès que possible !</h3>

        <div th:replace="fragments/donationBlock :: donationBlock"></div>

    </section>

    <section th:if="${messageStatus} != 'saved'">
        N'hésitez pas à prendre contact avec le développeur pour toute question, pour suggérer
        une fonctionnalité ou pour signaler une erreur. Ecrivez un mail à l'adresse suivante ou
        utilisez ce formulaire de contact:

        <form method="post" th:action="${mappings.get('CONTACT')}" id="contactForm">

            <div class="contactFormErrorMessage"></div>

            <table id="contactTable">
                <tr>
                    <td style="width: 30%">Adresse de contact:</td>
                    <td><a href="mailto:fr.abcmap@gmail.com">fr.abcmap@gmail.com</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Objet:</td>
                    <td><select name="object" id="object">
                        <option value="none">Choisissez une catégorie...</option>
                        <option value="ask">Demander une fonctionnalité</option>
                        <option value="help">Aide sur l'utilisation</option>
                        <option value="error">Signaler une erreur</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Votre adresse mail:</td>
                    <td><input type="text" name="email" id="email"/></td>
                </tr>
                <tr>
                    <td>Votre message:</td>
                    <td><textarea name="message" id="message"></textarea></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td id="clickArea">
                        Cliquez ici pour prouver que vous n'êtes pas une machine
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="button" value="Envoyer"
                               onclick="ContactForm.submit()"/></td>
                </tr>
            </table>

            <div class="contactFormErrorMessage"></div>

        </form>

        <script type="text/javascript">

            /*
            $(function () {
                setTimeout(function () {
                    ContactForm.submit();
                    console.error("Javascript triggered");

                    setTimeout(function () {
                        ContactForm.submit();
                        console.error("JQuery triggered");
                    }, 2000);
                }, 2000);
            });
            */

        </script>

    </section>
</div>


</body>
</html>
