<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="main-decorator">
<head>

    <title>Content page example</title>

    <!-- Head content is cloned in decorator, no need of th:fragments -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/faq.css}"/>

</head>
<body>

<h1 layout:fragment="header">Title example</h1>

<div layout:fragment="content">
    <section>Content example</section>
</div>

</body>
</html>
