<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="main-decorator">
<head>

    <title>Téléchargement</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/download.css"
          layout:fragment="htmlHeaders"/>

</head>
<body>

<h1 layout:fragment="header">Téléchargement</h1>

<div layout:fragment="content">

    <section th:if="${#strings.isEmpty(downloadLink) == true}">
        Abc-Map est un logiciel <b>libre et portable</b>: il est gratuit pour tous usages et
        ne nécéssite pas d'installation. Ce logiciel fonctionne sur <b>Windows, Linux et Mac</b>.
        Découvrez toutes les étapes d'installation et d'utilisation en quelques minutes en
        consultant <a th:href="${mappings.get('HELP')}">les tutoriels du logiciel.</a>
    </section>

    <section style="padding: 1em;" th:if="${#strings.isEmpty(downloadLink) == true}">

        <div class="downloadFormErrorMessage"></div>

        <div>Vous souhaitez télécharger:</div>

        <form id="downloadForm" method="get" th:action="${mappings.get('DOWNLOAD')}">

            <ul class="downloadList">
                <li><input type="radio" name="downloadType" id="windows" value="windows" checked="true"/>
                    <label for="windows">la version <b>Windows</b></label></li>
                <li><input type="radio" name="downloadType" id="mac" value="mac"/>
                    <label for="mac">la version <b>Mac</b></label></li>
                <li><input type="radio" name="downloadType" id="linux" value="linux"/>
                    <label for="linux">la version <b>Linux</b></label></li>
                <li><input type="radio" name="downloadType" id="source" value="source"/>
                    <label for="source">le code source</label></li>
            </ul>

            <div>
                <input type="checkbox" name="agreement" id="agreement"/>
                <label for="agreement">J'ai compris que:</label>
                <ul style="margin: 1em;">
                    <li>Je dois respecter les droits de propriété des différentes données que
                        j'utiliserai avec ce logiciel
                    </li>
                    <li>Je dois respecter respecter la licence d'utilisation de ce logiciel</li>
                </ul>
            </div>

            <div class="downloadFormErrorMessage"></div>

            <div style="text-align: center">
                <input type="button" id="downloadFormValidButton"
                       value="Télécharger le logiciel"/></div>

        </form>

        <script type="text/javascript">
            $(function () {

                var errorMsgs = $(".downloadFormErrorMessage");
                $("#downloadFormValidButton").click(function () {

                    if ($("#agreement").is(":checked") == false) {
                        errorMsgs.css('display', 'block');
                        errorMsgs.text("Vous devez accepter les conditions d'utilisation");
                        return;
                    }

                    $("#downloadForm").submit();

                });

            });
        </script>
    </section>

    <section style="padding: 1em;" th:if="${#strings.isEmpty(downloadLink) == false}">

        <div>Voici votre lien de téléchargement:</div>
        <a th:href="${downloadLink}" th:text="${downloadLink}" target="_blank">
            http://abc-map.fr/....
        </a>

    </section>

</div>

</body>
</html>
