<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="main-decorator">
<head>

    <title>Questions fréquentes</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/faq.css"
          layout:fragment="htmlHeaders"/>

</head>
<body>

<h1 layout:fragment="header">Questions fréquentes</h1>

<div layout:fragment="content">

    <section id="faqSummary">

        <a name="#top"/>

        <h3>Sommaire</h3>

        <div th:each="question, iter : ${questions}">

            <h4 class="title" th:if="${#strings.isEmpty(titles.get(iter.index)) == false}"
                th:text="${titles.get(iter.index)}"></h4>

            <a class="question" th:href="${'#question' + (iter.index + 1)}"
               th:utext="${(iter.index + 1 )+ ' - ' + question}">1 - Question</a>

        </div>
    </section>

    <section id="faqContent">
        <div th:each="question, iter : ${questions}">

            <h4 class="title" th:if="${#strings.isEmpty(titles.get(iter.index)) == false}"
                th:text="${titles.get(iter.index)}"></h4>

            <a class="question" th:name="${'question' + (iter.index + 1)}" href="#top"
               th:utext="${(iter.index + 1 )+ ' - ' + question}">1 - Question</a>

            <div class="answer" th:utext="${answers.get(iter.index)}">Réponse</div>

        </div>
    </section>

</div>

</body>
</html>
