<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main-decorator">
<head>

    <title>Nouvelle version à venir</title>

    <!--<link rel="stylesheet" type="text/css" href="/assets/css/faq.css"-->
    <!--layout:fragment="htmlHeaders"/>-->

</head>
<body>

<h1 layout:fragment="header">Nouvelle version à venir</h1>

<div layout:fragment="content">
    <section>

        <ul>
            <li>Nouvelles fonctionnalités</li>
            <li>Nouvelles interface</li>
            <li>Statut du projet</li>
        </ul>

    </section>
</div>

</body>
</html>
