<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="main-decorator">
<head>

    <title>Bienvenue</title>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/welcome.css}"/>

</head>
<body>

<h1 layout:fragment="header">Bienvenue !</h1>

<div layout:fragment="content">
    <section style="padding-top: 1em !important;">
        <p><b>Abc-Map est un logiciel libre de cartographie qui permet de créer, de mettre en forme et
            d'imprimer des cartes géographiques simplement. Abc-Map est disponible gratuitement pour
            tous usages et fonctionne sur Windows, Linux et Mac.</b></p>

        <p>Créez votre première carte rapidement grâce aux vidéos tutoriel décrivant étape par étape
            des exemples simples. Les applications possibles sont très nombreuses:
        </p>

        <ul>
            <li>Activités de loisirs: chasse, pêche, airsoft, découverte,</li>
            <li>Activités sportives: randonnée, course d'orientation,</li>
            <li>Enseignement, études,</li>
            <li>Tourisme, animations,</li>
            <li>Activités professionnelles,</li>
            <li>Et bien d'autres !</li>
        </ul>

        <div style="font-weight: bold; font-size: 1.2em; margin: 1.3em 0">Attention: ce projet est à l'abandon. Il
            fonctionne encore mais il n'est plus maintenu. Les raisons de l'arrêt du projet sont expliquées sur la
            <a href="https://www.facebook.com/abcmap/" target="_blank">page Facebook</a> et dans l'encadré ci-dessous.
        </div>

        <div id="tutorialLink"><a th:href="@{${mappings.get('HELP')}}">
            D&eacute;couvrez le fonctionnement du logiciel en quelques minutes<br/>
            grâce à la vidéo de pr&eacute;sentation</a>
        </div>

        <div id="downloadSection">
            <button id="downloadButton" onclick="window.location=UrlTree.DOWNLOAD_PAGE">
                Télécharger Abc-Map
            </button>
            <div id="downloadNumber" th:if="${downloadsThisWeek} != -1 and ${downloadsThisWeek} != null"
                 th:inline="text">
                [[${downloadsThisWeek}]] téléchargements cette semaine
            </div>
            <div th:inline="text" th:if="${sumVote} != null and ${sumVote} > 0">[[${#numbers.formatDecimal(averageVote,
                0, 2)}]]
                / 5
                <span class="fa fa-star"></span>, [[${sumVote}]] participants
            </div>
        </div>

        <div style="border: solid darkred 2px; margin: 2em !important; padding: 2em !important; overflow-y: scroll; text-align: justify; max-height: 400px;">
            <p>Bonjour à tous !</p>
            <p>Comme vous avez pu le remarquer le projet Abc-Map est au point mort.</p>
            <p>Depuis plus de 3 ans maintenant j'essaie régulièrement de relancer le développement d'une nouvelle
                version mais malheureusement, chaque tentative est un nouvel échec. Avec un travail à plein temps et
                des obligations familiales je n'arrive pas à y consacrer suffisamment de temps.</p>
            <p>Abc-Map était un projet d'étude: j'étais alors étudiant en informatique, et c'était ma première
                application. Je souhaitais que le projet grandisse pour combler un besoin: la cartographie
                simplifiée et accessible au plus grand nombre. Malgré une qualité médiocre, ce logiciel a comblé en
                partie ce besoin, et j'ai désormais suffisamment d'expérience pour créer et maintenir une nouvelle
                version qui serait bien plus élaborée, mais toujours dans l'esprit du projet: un logiciel libre
                utilisable après une demi heure d'apprentissage.</p>
            <p>Malheureusement le développement d'une nouvelle version demanderait 4 à 6 mois de travail à plein
                temps. J'ai essayé à plusieurs reprises d'étaler ce temps de développement la nuit, et j'ai codé des
                centaines d'heures le soir après 9 à 10 heures de code la journée. Mais c'est trop de travail pour
                moi.</p>
            <p>J'espère un jour avoir suffisamment de ressources pour vous offrir une nouvelle version
                d’Abc-Map. Je n'écarte pas l'idée de continuer ce projet lorsque l'occasion se présentera, peut être
                sous la forme d'une entreprise, peut être encore une fois en tant que bénévole. Mais pour l'instant je
                n'ai ni les ressources ni le temps nécessaire pour terminer ce projet.</p>
            <p>Merci à tous ceux qui ont utilisé ce logiciel, à ceux qui m'ont soutenu en m'envoyant des messages ou des dons,
                à ceux qui se sont impliqués dans cette aventure. Malheureusement je ne connaît pas d'alternative à vous proposer.
                La première version restera en ligne aussi longtemps qu'elle sera téléchargée.</p>
            <p>Rémi Pace</p>
        </div>
    </section>

    <section>
        <h2>Tour d'horizon des fonctionnalit&eacute;s</h2>

        <div class="functionnality" th:each="func, iter : ${functionnalities}">
            <div class="description" th:utext="${func}"></div>
            <div>
                <img th:src="@{${'/images/functionnality' + (iter.index + 1) + '.png'}}"/>
            </div>
        </div>

        <p>Abc-Map possède d'autres fonctionnalités simples mais efficaces.
            Alors n'hésitez pas, rendez-vous sur la page de t&eacute;l&eacute;chargement et
            faîtes vos essais !</p>

    </section>

    <section>

        <p class="copyright">Extraits de cartes utilis&eacute;s dans les illustrations:
            <a href="http://www.openstreetmap.org" target="_blank">http://www.openstreetmap.org</a>
            <br/>&copy; les contributeurs d'OpenStreetMap</p>

        <p class="copyright">Template conçu par : <a href="https://twitter.com/ajlkn">@ajlkn</a>
            <a href="https://html5up.net">HTML5 UP</a> <b style="font-size: 2em;">✌️ 👏</b></p>

    </section>

</div>


</body>
</html>
