<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="main-decorator">
<head>

    <title>Bienvenue</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/welcome.css"
          layout:fragment="htmlHeaders"/>

</head>
<body>

<h1 layout:fragment="header">Bienvenue !</h1>

<div layout:fragment="content">
    <section>

        <p><b>Abc-Map est un logiciel libre de cartographie qui permet de créer, de mettre en forme et
            d'imprimer des cartes géographiques simplement. Ce logiciel est disponible gratuitement pour
            tous usages et fonctionne sur Windows, Linux et Mac.</b></p>

        <p>Créez votre première carte rapidement grâce aux vidéos tutoriel décrivant étape par étape
            des exemples simples. Les applications possibles sont très nombreuses:
        </p>

        <ul>
            <li>Activités de loisirs: chasse, pêche, airsoft, découverte,</li>
            <li>Activités sportives: randonnée, course d'orientation,</li>
            <li>Enseignement, études,</li>
            <li>Tourisme, animations,</li>
            <li>Activités professionnelles,</li>
            <li>Et bien d'autres !</li>
        </ul>

        <div id="tutorialLink"><a href="/help/">
            D&eacute;couvrez le fonctionnement du logiciel en quelques minutes<br/>
            grâce à la vidéo de pr&eacute;sentation</a>
        </div>

        <div id="downloadSection">
            <button id="downloadButton" th:onClick="'window.location = \'' +
                ${mappings.get('DOWNLOAD')} + '\''">
                Télécharger Abc-Map
            </button>
            <div id="downloadNumber" th:if="${downloadsThisWeek} != -1" th:inline="text">
                [[${downloadsThisWeek}]] téléchargements cette semaine
            </div>
            <div th:inline="text">[[${#numbers.formatDecimal(averageVote, 0, 2)}]] / 5
                <span class="fa fa-star"></span>, [[${sumVote}]] participants</div>
        </div>

    </section>

    <section>
        <h2>Tour d'horizon des fonctionnalit&eacute;s</h2>

        <div class="functionnality" th:each="func, iter : ${functionnalities}">
            <div class="description" th:utext="${func}"></div>
            <div>
                <img th:src="${'/images/functionnality' + (iter.index + 1) + '.png'}"/>
            </div>
        </div>

        <p>Abc-Map possède d'autres fonctionnalités simples mais efficaces.
            Alors n'hésitez pas, rendez-vous sur la page de t&eacute;l&eacute;chargement et
            faîtes vos essais !</p>

    </section>

    <section>

        <p class="copyright">Extraits de cartes utilis&eacute;s dans les illustrations:
            <a href="http://www.openstreetmap.org" target="_blank">http://www.openstreetmap.org</a>
            <br/>&copy; les contributeurs d'OpenStreetMap</p>

        <p class="copyright">Template conçu par : <a href="https://twitter.com/ajlkn">@ajlkn</a>
            <a href="https://html5up.net">HTML5 UP</a> <b style="font-size: 2em;">✌️ 👏</b> </p>

    </section>

</div>


</body>
</html>
